# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage
vertex-key.json
# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# database
prisma/dev.db
prisma/dev.db-journal

# IDE
.vscode/
.idea/
*.swp
*.swovertex-key.json

#others
CLEAN_INSTALL.bat
COMPLETE_SYSTEM_VERIFICATION.md
FINAL_ERRORLESS_STRUCTURE.md
FINAL_VERIFICATION.md
OAUTH_KEYS_SETUP.md
OAUTH_SETUP.md
install-oauth.bat
install.bat
PROJECT_COMPLETE.md
SETUP.md
